torch 
torchvision
scipy
jsonpatch
visdom
torchtoolbox
--extra-index-url https://developer.download.nvidia.com/compute/redist/cuda/10.0 nvidia-dali
matplotlib
opencv-python
cmake
dlib
imutils
scikit-image
onnxruntime
docker